div(id="footer")
	div(class="clearfix")
		div(id="connect")
			a(href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook")
			a(href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus")
			a(href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter")
			a(href="http://www.freewebsitetemplates.com/misc/contact/" target="_blank" class="tumbler")
		p © 2020 BlockBlox. All Rights Reserved.
