div(id="header")
	div
		div(class="logo")
			a(href="/") NEM Financial
		ul(id="navigation")
			li(class="active")
				a(href="/") Home
			li
				a(href="/lender") Lender
			li
				a(href="/debtor") Debtor
