doctype html
html
	include head.pug
body
	include header_noauth.pug

div(id='adbox')
	div(class='clearfix')
		img(src="images/home_blockchain.jpeg" height="280" width="368")
		div
			h1 NEM-Financial
			h2 That's what we live for.
			p Financial application POC
		p 
			button(onclick="window.location.href = '/lenderlogin';") Login as Lender
		p 
			button(onclick="window.location.href = '/debtorlogin';") Login as Debtor

include footer.pug